# Development Environment
venv/
__pycache__/
*.pyc
.env

# MacOS / OS specific
.DS_Store
*.swp

# Build Artifacts
build/
dist/
*.spec
*.app
*.dmg

# Local Database / Cache
assets/known_faces/*.jpg
assets/known_faces/*.pkl
logs/